/* Estilos generales para el cuerpo y el título */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

h1 {
  font-size: 40px;
  font-weight: 1px;
  color:#0060c7; 
  float: left;
  margin-left: 30px;
}

/* Estilos para el texto de introducción */
.intro {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

a:hover {
  text-decoration: none;
  color:#303030;
}

/* Estilos para los contenedores */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Estilos para los títulos secundarios */
h2 {
  font-size: 24px;
  color: #009688;
  margin: 30px 0 10px;
}

/* Estilos para los párrafos */
p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

/* Estilos para las listas */
ol {
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin: 10px 0;
}

/* Estilos para las imágenes */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Estilos para los botones */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #ff784e;
}

/* Estilos para los contenedores de imagen y botón */
.box-pantalla-inicial {
  background-color: cadetblue;
  border: 1px solid black;
  margin-bottom: 20px;
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el texto en los contenedores */
.texto-pantalla-inicial {
  font-size: 20px;
  float: right;
  margin-right: 50px;
  width: 400px;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

  /* Estilos para los contenedores de imagen y botón */
  .box-boton-inicio {
      border-radius: 30px;
      background-color: #adff2f;
      border: 1px solid black;
      margin-bottom: 20px;
      height: 25px;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
    }




    .list {
      font-size: 35px;
  }
  
  .sub-apartados {
      margin-top: 70px;
  }

  .box {
      background-color:white;
      border: 5px solid black;
      margin-top: 20px;
      height: 25px;
      width: 100px;
  }


  .escrito-boton-inicio  {
      font-size: 20px;
      color:black;
      text-align: center;
      margin-top: 100px;
  }

  .box-home-2 {
    border-radius: 30px;
    background-color:#0060c7;
    border: 1px solid black;
    float: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 25px;
    width: 100%;
}

  .escrito-boton-amazon  {
    font-size: 20px;
    color:black;
    text-align: center;
    margin-top: 50px;
}

.box-amazon {
  border-radius: 30px;
  background-color:#0060c7;
  border: 1px solid black;
  float: center;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 25px;
  width: 100%;
}
  
  li {
      margin-top: 25px;
  }

  h2 {
      font-size: 40px;
      color:#0060c7;
      text-align:center;
  }

  .image {
      float: center;
      margin-top: 20px;
      height: 60%;
  }

  .title-p {
      text-align: center;
      font-size: 20px;
      color:#0060c7;
  }

  .bienvenida {
      font-size: 36px;
      color: #71bd00;
      text-align: center;
      margin: 20px 0;
    }

.container {
max-width: 800px;
margin: 0 auto;
}

.title {
color: #0056b3;
text-align: center;
margin-bottom: 20px;
}

.intro {
color: #333;
margin: 10px 0;
}

.subheading {
color: #009688;
margin-top: 20px;
}

.conclusion {
color: #ff5722;
margin-top: 30px;
}

p {
color: #333;
margin-top: 10px;
text-align: center;
}

strong {
color: #ff5722;
font-size: 30px;
}

h4 {
font-size: 30px;
color:#0056b3;
}

.title-h2 {
text-align: center;
font-size: 32px;
color:#009688;
}

.enlace {
font-size: 20px;
color:#71bd00;
text-align: center;
}

.logo {
width: 80px;
height: 80px;
border-radius: 40px;
margin-left: 0px;
border: 1px solid black;
}

.boton-apartado-2 {
border-radius: 30px;
background-color:#0060c7;
border: 1px solid black;
margin-bottom: 70px;
margin-top: 30px;
height: 30px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.logo-footer {
width: 200px;
height: 200px;
float: right;
border-radius: 100px;
border: 2px solid black;
}

.box-semanalmente {
background-color:#0056b3;
border: 1px solid black;
margin-bottom: 20px;
margin-left: 100px;
height: 70%;
width: 70%;
display: flex;
justify-content: center;
align-items: center;
}

.box-boton-semanalmente {
border-radius: 30px;
background-color:#ff5722;
border: 1px solid black;
margin-bottom: 20px;
margin-left: 100px;
height: 25px;
width: 70%;
display: flex;
justify-content: center;
align-items: center;
}

.image-apartados {
float: center;
width: 70%;
margin-top: 50px;
margin-bottom: 50px;
}

.hr-semanalmente {
margin-top: 100px;
}

.hr-semanalmente-abajo {
margin-bottom: 100px;
margin-top: 50px;
}

.dominio {
float: center;
color:#ff5722;
}

form {
/* Establecer el ancho y el margen del formulario */
width: 500px;
margin: 0 auto;
}

label {
/* Establecer el estilo de las etiquetas */
display: block;
font-weight: bold;
margin-top: 10px;
}

input, select {
/* Establecer el estilo de los campos de entrada y selección */
display: block;
width: 100%;
border: 1px solid #ccc;
padding: 5px;
}

input[type="checkbox"] {
/* Establecer el estilo de la casilla de verificación */
display: inline-block;
width: auto;
}

input[type="submit"] {
/* Establecer el estilo del botón de envío */
display: block;
width: 100%;
background-color: #0099ff;
color: white;
border: none;
padding: 10px;
cursor: pointer;
}

input[type="submit"]:hover {
/* Establecer el efecto de cambio de color al pasar el ratón por el botón de envío */
background-color: #0066cc;
}

h3 {
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
font-size: 25px;
color:#0060c7;
}

.enlace-contactacion {
font-size: 20px;
color:#ff5722;
text-align: center;
}

.title-home {
  color: black;
  text-align: left;
margin-top: 10px;
font-size: 18px;
font-weight: 4;
}

.margin {
margin-top: 50px;
margin-bottom: 50px;
}



a {
  color:#ff5722;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 7%;
  margin-top: 0px;
  margin-bottom: 15px;
  background-color:rgb(35, 35, 35);
}

.text-header {
  font-weight: bold;
  display: inline-block;
  font-size: 88%;
  margin-left: 3.75%;
}

.hr-header {
  color:#fff;
  width: 100%;
}

body {
  background-color:#d6d6d6;
}

.enlace-temas-legales {
  font-size: 20px;
  color:#0060c7;
  text-align: center;
}

.pie-de-pagina {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  height: 100px;
  background-color:rgb(35, 35, 35); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.iconos {
  display: inline-block;
  margin-right: 10px;
}

.nombre-iconos {
  font-weight: bold;
  display: inline-block;
  font-size: 10px;
  color:white;
}

.dominio-footer {
  float: right;
  color:#ff5722;
  margin-top: 90px;
}

.h1-semanalmente {
  font-size: 35px;
  font-weight: 1px;
  color:#ff5722; 
  float: center;
  text-align: center;
}

h2 {
  font-size: 25px;
  color:#0060c7;
  float: center;
  text-align:center;
}